<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
 <%- include('partials/_header') %>
 <main style="margin: 1em;">
  <h3>Login</h3>
  <form action="/login" method="POST">
    <div>
      
      <label for="register">Email address</label>
      <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 300px; margin: 1em">
      
      
      <label for="register">Password</label>
      <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">

      <button type="submit" class="btn btn-primary">Login</button>
    
    </div>
  </form>

</main>
</body>
</html>